USE [master]
GO
/****** Object:  Database [ram06112220]    Script Date: 06-11-2020 17:07:00 ******/
CREATE DATABASE [ram06112220]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ram06112220', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LUCKY\MSSQL\DATA\ram06112220.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ram06112220_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LUCKY\MSSQL\DATA\ram06112220_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ram06112220].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ram06112220]
GO
USE [ram06112220]
GO
/****** Object:  Table [dbo].[RegistrationForm]    Script Date: 06-11-2020 17:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Age] [int] NULL,
	[PhoneNumber] [varchar](10) NULL,
	[EmailId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RegistrationForm] ON 

INSERT [dbo].[RegistrationForm] ([Id], [Name], [Age], [PhoneNumber], [EmailId]) VALUES (1, N'Rama Chaitanya G', 27, N'9731135184', N'gchaitu57@gmail.com')
INSERT [dbo].[RegistrationForm] ([Id], [Name], [Age], [PhoneNumber], [EmailId]) VALUES (2, N'kumar', 30, N'9731135185', N'gchaitu5@gmail.com')
INSERT [dbo].[RegistrationForm] ([Id], [Name], [Age], [PhoneNumber], [EmailId]) VALUES (3, N'Ajay', 28, N'8186045517', N'ajay@gmail.com')
SET IDENTITY_INSERT [dbo].[RegistrationForm] OFF
USE [master]
GO
